div#__panel1-content {
    border: 0.5px solid black;
}
div#application-quotationinterface-display-component---View1--_IDGenPanel {
    padding: 20px;
}

div#application-quotationinterface-display-component---View1--_IDGenPanel1 {
    width: 100% !important;
    position: relative;
    left: 20px;
    top: -5px;
}
div#application-quotationinterface-display-component---View1--_IDGenPanel1-content {
    width: 1000px;
    height: 70px !important;
}
div#application-quotationinterface-display-component---View1--_IDGenPanel3 {
    padding: 20px;
}

div#application-quotationinterface-display-component---View1--idpiechart {
    width: 400px !important;
    height: 300px !important;
}
.sapSuiteUiCommonsChartContainerToolBarArea {
    display: none;
}

div#application-quotationinterface-display-component---View1--_IDGenFlexBox1 {
    width: 98% !important;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
div#application-quotationinterface-display-component---View1--_IDGenVBox {
    display: flex;
    justify-content: space-evenly;
}


div#application-quotationinterface-display-component---View1--_IDGenHBox  {
    display: flex;
    gap: 10px;
}
div#application-quotationinterface-display-component---View1--_IDGenHBo5x  {
    display: flex;
    gap: 10px;
}
div#application-quotationinterface-display-component---View1--_IDGednHBo5x  {
    display: flex;
    gap: 10px;
}
div#application-quotationinterface-display-component---View1--_IDGedwwdnHBo5x  {
    display: flex;
    gap: 10px;
}

bdi#application-quotationinterface-display-component---View1--_IDGenLabel-bdi {
    font-size: 16px;
}
bdi#application-quotationinterface-display-component---View1--_IDGenLa8bel-bdi {
    font-size: 16px;
}
bdi#application-quotationinterface-display-component---View1--_IDGsdenLa8bel-bdi {
    font-size: 16px;
}
bdi#application-quotationinterface-display-component---View1--_IDGsdenLwdwqda8bel-bdi {
    font-size: 16px;
}
span#application-quotationinterface-display-component---View1--_IDGenText3 {
    font-size: 15px;
}
span#application-quotationinterface-display-component---View1--_IDGenText5 {
     font-size: 15px;
}
span#application-quotationinterface-display-component---View1--_IDGenText6 {
     font-size: 15px;
}
span#application-quotationinterface-display-component---View1--_IDGenText7 {
    font-size: 15px;
}
span#application-quotationinterface-display-component---View1--_IDGenLa8bel {
    padding-left: 55px;
}
span#application-quotationinterface-display-component---View1--_IDGsdenLa8bel-text {
    padding-left: 85px;
}
span#application-quotationinterface-display-component---View1--_IDGsdenLwdwqda8bel-text {
    padding-right: 2px;
}








/*--------------------------------------------------- production -------------------------------------------------------------------------------------------------------------- */
div#application-Object-DISPLAY-component---View1--_IDGenPanel {
    padding: 15px;
    border: 0.5 solid;
}

div#application-Object-DISPLAY-component---View1--idpiechart {
    width: 400px !important;
    height: 300px !important;
}

div#application-Object-DISPLAY-component---View1--_IDGenVBox {
    display: flex;
    justify-content: space-evenly;
}

div#application-Object-DISPLAY-component---View1--_IDGenPanel3 {
    padding: 15px;
}
/* div#application-Object-DISPLAY-component---View1--_IDGenTitle3 {
    font-size: 35px;
    color: orange;
    top: 10px;
    position: relative;
} */
div#application-Object-DISPLAY-component---View1--_IDGenPanel1-content {
    width: 1000px;
    height: 70px !important;
}
div#application-Object-DISPLAY-component---View1--_IDGenPanel1 {
    width: 100% !important;
    position: relative;
    left: 20px;
    top: -5px;
}

div#application-Object-DISPLAY-component---View1--_IDGenFlexBox1 {
    width: 98% !important;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

div#application-Object-DISPLAY-component---View1--_IDGenPanel {
    padding: 20px;
}

div#application-Object-DISPLAY-component---View1--_IDGenPanel3 {
    padding: 20px;
}

div#application-Object-DISPLAY-component---View1--_IDGenPanel2 {
    padding: 20px;
}


div#application-Object-DISPLAY-component---View1--_IDGenHBox  {
    display: flex;
    gap: 10px;
}
div#application-Object-DISPLAY-component---View1--_IDGenHBo5x  {
    display: flex;
    gap: 10px;
}
div#application-Object-DISPLAY-component---View1--_IDGednHBo5x  {
    display: flex;
    gap: 10px;
}
div#application-Object-DISPLAY-component---View1--_IDGedwwdnHBo5x  {
    display: flex;
    gap: 10px;
}

bdi#application-Object-DISPLAY-component---View1--_IDGenLabel-bdi {
    font-size: 16px;
}
bdi#application-Object-DISPLAY-component---View1--_IDGenLa8bel-bdi {
    font-size: 16px;
}
bdi#application-Object-DISPLAY-component---View1--_IDGsdenLa8bel-bdi {
    font-size: 16px;
}
bdi#application-Object-DISPLAY-component---View1--_IDGsdenLwdwqda8bel-bdi {
    font-size: 16px;
}
span#application-Object-DISPLAY-component---View1--_IDGenText3 {
    font-size: 15px;
}
span#application-Object-DISPLAY-component---View1--_IDGenText5 {
     font-size: 15px;
}
span#application-Object-DISPLAY-component---View1--_IDGenText6 {
     font-size: 15px;
}
span#application-Object-DISPLAY-component---View1--_IDGenText7 {
    font-size: 15px;
}
span#application-Object-DISPLAY-component---View1--_IDGenLa8bel {
    padding-left: 55px;
}
span#application-Object-DISPLAY-component---View1--_IDGsdenLa8bel-text {
    padding-left: 85px;
}
span#application-Object-DISPLAY-component---View1--_IDGsdenLwdwqda8bel-text {
    padding-right: 2px;
}



.statusSuccess {
    color: green;
    font-size: 15px;
    font-weight: 750;
    font-family: sans-serif;
}

.statusReject {
    color: red;
    font-size: 15px;
    font-weight: 750;
    font-family: sans-serif;
}